{% macro tab_pane(id, content, dynamicLinks) %}
    {%- set subpane = content[0] -%}

    <div class="nav-tertiary-content {{ (subpane.acf_fc_layout == 'featured') ? 'feature-box' }}" id="{{ id }}">
        {% if subpane.acf_fc_layout == 'dynamic' %}
            {%- set links = dynamicLinks[subpane.type] -%}

            {% for linklist in links|batch(9) %}
                <ul class="link-list">
                {% for link in linklist -%}
                    <li><a href="{{ link.link }}">{{ link.post_title }}</a></li>
                {% endfor -%}
                </ul>
            {% endfor %}

        {% elseif subpane.acf_fc_layout == 'manual' %}
            {% for linklist in subpane.links|batch(9) %}
                <ul class="link-list">
                {% for link in linklist %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}

        {% elseif subpane.acf_fc_layout == 'featured' %}
            <h2 class="nav-featured-title">Featured</h2>
            <div class="nav-featured-carousel">
                {% for slide in subpane.items -%}
                    <div class="feature-box">
                        {% if post.thumbnail.src %}<img alt="" src="{{ post.thumbnail.src }}">{% endif %}
                        <h3 class="item-title"><a href="{{ slide.link }}">{{ slide.post_title }}</a></h1>
                        {% if slide.post_excerpt %}<p class="item-content">{{ slide.post_excerpt }}</p>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% import _self as navBuilder %}

<nav class="global-nav" id="rock-navbox">
    <div class="nav-wrapper">
        <a class="home-button" href="/">
            <span class="icon icon-logo"></span>
            <span class="hide-text">The Rockefeller Foundation</span>
        </a>

        <i class="icon icon-bars mobile-nav-icon"></i>


        <ul class="core-nav">
            <li>
                <div class="expanded-nav">
                    <div class="inner-content"></div>
                </div>
            </li>

            {% for navItem in globalNav %}
            <li>
                <a class="our-work-item" href="{{ navItem.link }}">{{ navItem.title }}</a>

                <div class="expanded-nav-content">
                    <div class="subnav">
                        <ul>
                            {% for nav in navItem.content -%}
                            <li><a href="{{ nav.url }}" data-content-pane="#our-work-{{ loop.index }}">{{ nav.title }}</a></li>
                            {% endfor -%}
                            <li class="prominate"><a class="active" data-content-pane="all-gn{{ loop.index }}" href="{{ nav.url }}">All {{ navItem.title }}</a></li>
                        </ul>
                    </div>
                    <div class="subnav-content">
                        {% for pane in navItem.content -%}
                            {{ navBuilder.tab_pane("our-work-" ~ loop.index, pane.content, dynamicLinks) }}
                        {% endfor -%}
                        <div class="nav-tertiary-content default" id="all-gn{{ loop.index }}">
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li class="search">
                <div class="search-box">
                    <input name="search-key" type="" value="">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </li>
        </ul>
    </div>
</nav>