<nav class="global-nav" id="rock-navbox">
    <div class="nav-wrapper">
        <a class="home-button" href="/">
            <span class="icon icon-logo"></span>
            <span class="hide-text">The Rockefeller Foundation</span>
        </a>

        <i class="icon icon-bars mobile-nav-icon"></i>


        <ul class="core-nav">
            <li>
                <div class="expanded-nav">
                    <div class="inner-content"></div>
                </div>
            </li>

            {% for nav_index, navItem in globalNav %}
            <li>
                <a class="our-work-item" href="{{ navItem.link }}">{{ navItem.title }}</a>

                <div class="expanded-nav-content">
                    <div class="subnav">
                        <ul>
                            {% for nav in navItem.content -%}
                            <li><a href="{{ nav.url }}" data-content-pane="#gn{{ nav_index }}-{{ loop.index }}">{{ nav.title }}</a></li>
                            {% endfor -%}
                            <li class="prominate"><a class="active" data-content-pane="all-gn{{ loop.index }}" href="{{ nav.url }}">{{ navItem.all_text }}</a></li>
                        </ul>
                    </div>
                    <div class="subnav-content">
                        {% for subpane in navItem.content -%}
                            <div class="nav-tertiary-content {{ (subpane.content_type == 'carousel') ? 'feature-box' }}" id="gn{{ nav_index }}-{{ loop.index }}">
                                {% if subpane.content_type == 'linklist' %}
                                    {% for list in subpane.links|batch(9) %}
                                        <ul class="link-list">
                                        {% for link in list %}
                                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% endfor %}

                                {% elseif subpane.content_type == 'carousel' %}
                                    <h2 class="nav-featured-title">Featured</h2>
                                    <div class="nav-featured-carousel">
                                        {% for slide in subpane.carousel %}
                                            <div class="feature-box">
                                                {% if slide.thumbnail.src %}<img alt="" src="{{ slide.thumbnail.src }}">{% endif %}
                                                <h3 class="item-title"><a href="{{ slide.link }}">{{ slide.post_title }}</a></h1>
                                                {% if slide.post_excerpt %}<p class="item-content">{{ slide.post_excerpt }}</p>{% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="nav-tertiary-content default" id="all-gn{{ loop.index }}">
                            <h2 class="nav-featured-title">Featured</h2>
                            <div class="nav-featured-carousel">
                                {% for slide in navItem.overview %}
                                    <div class="feature-box">
                                        {% if slide.thumbnail.src %}<img alt="" src="{{ slide.thumbnail.src }}">{% endif %}
                                        <h3 class="item-title"><a href="{{ slide.link }}">{{ slide.post_title }}</a></h1>
                                        {% if slide.post_excerpt %}<p class="item-content">{{ slide.post_excerpt }}</p>{% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li class="search">
                <div class="search-box">
                    <input name="search-key" type="" value="">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </li>
        </ul>
    </div>
</nav>