<h2 class="rail-header">Grant</h2>

<select class="grant-select-menu">
{% for grant in grants %}
	<option value="#{{ grant.slug }}">{{ grant.title }}</option>
{% endfor %}
</select>

{% for grant in grants %}
<div class="grant-info-block" id="{{ grant.slug }}" {{ (not loop.first) ? 'style="display:none;"' }}>
	<section class="grant-section">
		<h3 class="rail-section-header">Granted</h3>
		<p class="grant-amount">${{ grant.amount|number_format(0, '', ',') }}</p>
	</section>

	<section class="grant-section">
		<h3 class="rail-section-header">Grant Term</h3>
		<p class="grant-term">{{ grant.term_start }} - {{ grant.term_end }}</p>
	</section>

	<section class="grant-section">
		<h3 class="rail-section-header">Grant Description</h3>
		<p class="grant-desc">{{ grant.desc }}</p>
	</section>

	<hr>

	{% if grant.topics|length > 0 %}
	<section class="grant-section">
		<h3 class="rail-section-header">Topics</h3>
		<ul class="grant-rail-list">
		{% for topic in grant.topics %}
			<li><a href="{{ topic.link }}"> {{ topic.post_title }} </a></li>
		{% endfor %}
		</ul>
	</section>
	{% endif %}

	{% if grant.initiatives|length > 0 %}
	<section class="grant-section">
		<h3 class="rail-section-header">Initiatives</h3>
		<ul class="grant-rail-list">
		{% for initative in grant.initiatives %}
			<li><a href="{{ initative.link }}"> {{ initative.post_title }} </a></li>
		{% endfor %}
		</ul>
		</ul>
	</section>
	{% endif %}

	{% if grant.regions|length > 0 %}
	<section class="grant-section">
		<h3 class="rail-section-header">Benefiting Regions</h3>
		<ul class="grant-rail-list">
		{% for region in grant.regions %}
			<li><a href="#{{ region.slug }}">{{ region.name }}</a></li>
		{% endfor %}
		</ul>
	</section>
	{% endif %}

	<hr>

	{% if grant.officers  %}
	<section class="grant-section">
		<h3 class="rail-section-header">Grant Officer{{ (grant.officer|length > 1) ? "s" }}</h3>
	{% for officer in grant.officers %}
		<p class="grant-officer">
			{% if officer.get_thumbnail %}
			<img class="officer-image" src="{{ officer.get_thumbnail.get_src|resize(200, 200, 'top') }}" alt="{{ officer.post_title }}">
			{% endif %}
			<span class="officer-name">{{ officer.post_title }}</span>
			<span class="officer-title">{{ officer.get_field('job_title') }}</span>
		</p>
	{% endfor %}
	</section>
	{% endif %}
</div>
{% endfor %}